extends layout

block content
  div(align=center)
    p Welcome To My Home
    <!--p Welcome to #{title}-->
    p 我简直就是聪明蛋
    p='last update 2014.05.23'

    div(align=center)
      img(id = "background" src="/images/Violet.jpg")
</div>