html
	head
		title MagicCat
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="icon" href="/images/favicon2.ico" type="image/ico")
		script(src="/javascripts/jquery_1_8_3.js")
	body
		p test page
		form(action="/uploadImg" method="post" id="upload" enctype="multipart/form-data")
			input(type = "text" id = "some" name = "some" autocomplete="off" value="fdafda")
			<input type="file" name="uploadImg"/>
			<input type="submit" value="upload"/>

		table(cellpadding="0" cellspacing="0" class="tableForm")
			thead
				tr
					th Please select a file and click Upload button
			tbody
				tr
					td
						input(id="fileToUpload" type="file" size="45" name="fileToUpload" class="input")
			tfoot
				tr
					td
						button(class="button" id="buttonUpload" onclick="return ajaxFileUpload();") Upload
